
body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sign-up-form-container {
    padding: 4rem;
    display: flex;
    gap: 2rem;
}

.sign-up-form-container label {
    color: var(--dark-gray);
    margin-bottom: 1rem;
}

.sign-up-left {
    margin-top: 4rem;
    width: 20rem;
}

.sign-up-left h1 {
    color: var(--theme-color);
    font-weight: bold;
}

.sign-up-left input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.2rem;
    margin: 1rem 0rem 1rem 0rem;
    border: none;
    background-color: var(--light-gray);
    font-size: 1em;
    color: var(--dark-gray);
    letter-spacing: 0.1rem;

}


.cta {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    align-items: center;
}


.btn-sign-up button {
    background-color: var(--theme-color);
    color: white;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 0.2rem;
}
.btn-sign-in button {
    background: transparent;
    color: var(--theme-color);
    border: none;
}


.image-container {
    width: 35em;
    
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* Media Breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


.image-container {
    display: none;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   

    .image-container {
        display: none;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
    .image-container {
        display: block;
        padding-top: 8em;
        width: 400px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        color: blue;
    }
    .image-container {
        display: block;
        padding-top: 2em;
        width: 35em;
        
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
